
/* OS/2 Warp Resource Script File - Created by Integrated Resource Editor */

#define INCL_WINSYS
#define INCL_WINBIDI
#define INCL_WINSTDDLGS
#define INCL_WINSTDSPIN
#define INCL_NLS
#define INCL_SW

#include <os2.h>

#include "fmshow.h"

DLGTEMPLATE 256 850 MOVEABLE DISCARDABLE
BEGIN
    DIALOG "FMShow", 256, 78, 124, 200, 120, FS_NOBYTEALIGN | FS_DLGBORDER |
                WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE, FCF_TITLEBAR |
                FCF_SYSMENU
    BEGIN
        CONTROL "OK",                  DID_OK, 5, 5, 38, 12, WC_BUTTON,
                                            BS_PUSHBUTTON | BS_DEFAULT |
                                            WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel",              DID_CANCEL, 48, 5, 38, 12, WC_BUTTON,
                                            BS_PUSHBUTTON | WS_TABSTOP |
                                            WS_VISIBLE
        CONTROL "Help",                257, 91, 5, 38, 12, WC_BUTTON,
                                            BS_PUSHBUTTON | BS_HELP |
                                            BS_NOPOINTERFOCUS | WS_TABSTOP |
                                            WS_VISIBLE
        CONTROL "Station list",        260, 22, 47, 82, 8, WC_STATIC, SS_TEXT |
                                            DT_LEFT | DT_TOP | WS_GROUP |
                                            WS_VISIBLE
        CONTROL "Load",                DID_STLOAD, 12, 23, 38, 12, WC_BUTTON,
                                            BS_PUSHBUTTON | WS_TABSTOP |
                                            WS_VISIBLE
        CONTROL "Save",                DID_STSAVE, 58, 24, 38, 12, WC_BUTTON,
                                            BS_PUSHBUTTON | WS_TABSTOP |
                                            WS_VISIBLE
        CONTROL "Edit",                DID_STEDIT, 105, 26, 38, 12, WC_BUTTON,
                                            BS_PUSHBUTTON | WS_TABSTOP |
                                            WS_VISIBLE
        CONTROL "Station",             262, 14, 94, 167, 16, WC_SPINBUTTON,
                                            SPBS_MASTER | SPBS_JUSTLEFT |
                                            WS_GROUP | WS_TABSTOP | WS_VISIBLE
                CTLDATA 24, 0, 256, 0, 0, 0, 0, 0, 0, 0, 0, 0
    END
END
